### python Basics
## Python Basics
# Python Basics

In [7]:
"python"
'python'

'python'

In [9]:
"python"
print("python2")

python2

In [11]:
1234

1234

In [12]:
print("Python")
print("Training")

Python
Training

In [18]:
v=10
print(v)
print(type(10))
print(type(v))

10
<class 'int'>
<class 'int'>

In [14]:
print(v)

10

In [15]:
v="python"
print(v)

python

In [16]:
v

'python'

In [19]:
x="python"
print(x)

python

In [20]:
print(type(x))

<class 'str'>

In [21]:
f=10.5
type(f)

float

# Task


## Data types

In [46]:
a=10
print(a,type(a))
type(a)

b="Karishma"
print(b,type(b))
type(b)

c=7.56
print(c,type(c))
type(c)

10 <class 'int'>
Karishma <class 'str'>
7.56 <class 'float'>

float

a=10
print(type(a))
type(a)

In [23]:
b="Karishma"
print(type(b))
type(b)

<class 'str'>

str

In [24]:
c=7.56
print(type(c))
type(c)

<class 'float'>

float

### Checking Python Version

### System Version

In [30]:
import platform
print(platform.python_version())
print(platform.sys.version)

3.7.3
3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

In [31]:
import sys
print(sys.version)

3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

# comments

In [40]:
#print("py")
'''print(123456)
print("IIIT")'''
print("Karishma")
"""print(123456)
print("IIIT")"""
print("Lawrence")

Karishma
Lawrence

# Separation

In [41]:
print(12,3,77,sep="chinni")
print("Hello")

12chinni3chinni77
Hello

# End

In [42]:
print(12,3,77,sep="chinni",end=" ")
print("Hello")

12chinni3chinni77 Hello

# Help

In [43]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help(paltform)

# Boolean Variables

In [47]:
b=True
print(b,type(b))

True <class 'bool'>

In [48]:
print(True)

True

In [49]:
print(bool(0))
print(bool(1))

False
True

In [50]:
print(True+True)
print(True+False)
print(False+True)
print(False+False)

2
1
1
0

In [53]:
print(7*" Karishma")

 Karishma Karishma Karishma Karishma Karishma Karishma Karishma

In [54]:
print("karishma "*3)

karishma karishma karishma

In [55]:
print(3*"Karishma "*3)

Karishma Karishma Karishma Karishma Karishma Karishma Karishma Karishma Karishma

In [56]:
print(3//2)

1

In [57]:
print(3.0//2)

1.0

In [58]:
print(3//2.0)

1.0

In [59]:
int(34.5)

34

In [60]:
float(35)

35.0

In [61]:
str(88)

'88'

In [62]:
bool("hello")

True

In [63]:
bool("")

False

In [64]:
bool('')

False

## Operators
###   + - * / % //

In [66]:
print(2+3)
print(8-7)
print(7*9)
print(20/5)
print(4%3)
print(20//5)

5
1
63
4.0
1
4

In [67]:
a=10
b=3
c=a+b
print(c)

13

In [68]:
print(a+b)

13

In [70]:
a="Hello"
b="Karishma"
c=a+b
print(c)
"""d=a-b
print(d)"""

HelloKarishma

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## Task on Operators

In [73]:
# orange=3,price per one 6
# apples=9,price per one 10
#Total price interms of multiples of 10's
ora=3*6
app=9*10
print((ora+app)//10)

10

# Strings

In [75]:
print("hello")

hello

In [77]:
print("hello \nThis is Karishma")

hello
This is Karishma

In [78]:
s="Hello Karishma"
s
print(s)

Hello Karishma

### String Slicing

In [79]:
s[0:5]

'Hello'

In [80]:
print(s[0:5])

Hello

In [81]:
s[0]

'H'

In [82]:
s[0:]

'Hello Karishma'

In [83]:
s[0::]

'Hello Karishma'

In [84]:
s[0:2]

'He'

In [85]:
s[0::2]

'HloKrsm'

In [89]:
s[0::3]

'HlKim'

In [87]:
s[-1::]

'a'

In [88]:
s[::-1]

'amhsiraK olleH'

In [90]:
p="python vs java"
p.capitalize()

'Python vs java'

In [91]:
k="karishma"
k.upper()

'KARISHMA'

In [92]:
l="LAWRENCE"
l.lower()

'lawrence'

In [94]:
g="gonAMANda"
g.swapcase()

'GONamanDA'

In [95]:
k.title()

'Karishma'

In [97]:
print(len(k))
print(len(l))
print(len(g))

8
8
9

In [98]:
dir(k)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [109]:
a="Hello Karishma"
a.casefold()

'hello karishma'

In [117]:
a.center(40)

'             Hello Karishma             '

In [111]:
a.split()

['Hello', 'Karishma']

In [113]:
a.count("a")

2

In [120]:
a="Hi Karishma"
a.encode()

b'Hi Karishma'

In [125]:
a="Hello Karishma"
a.endswith("a")

True

In [126]:
a="Hello Karishma"
a.endswith("k")

False

In [128]:
a="HelloKarishma"
a.expandtabs()

'HelloKarishma'

In [129]:
a="Hello Karishma"
a.find("a")

7

In [135]:
a="123"
a.format()

'123'

In [142]:
a="Hello Karishma"
a.index("K")

6

In [154]:
a="k"
a.isalnum()

True

In [156]:
a="h"
a.isalpha()

True

In [157]:
a="hello karishma"
a.isascii()

True

In [161]:
a="22"
a.isdecimal()

False

In [163]:
a="7"
a.isdigit()

True

In [166]:
a="print"
a.isidentifier()

True

In [168]:
a="777"
a.isnumeric()

True

In [171]:
a="hi hello"
a.isprintable()

True

In [175]:
a=" "
a.isspace()

True

In [177]:
a="karishma"
a.istitle()

False

In [178]:
a="Karishma"
a.istitle()

True

In [179]:
a="HELLO"
a.isupper()

True

In [183]:
a="hello Karishma"
a.join("L")

'L'

In [188]:
a="hello karishma"
a.ljust(1)

'hello karishma'

In [190]:
a="helloKarishma"
a.lstrip()

'helloKarishma'

# Task
### Problem Solving Using Python

In [193]:
#Length of the string
a="karishma"
len(a)

8

In [194]:
# Change the string to lower case
a="KARISHMA"
a.lower()

'karishma'

In [196]:
#Print the string in reverse order
a="Karishma Lawrence"
a[::-1]

'ecnerwaL amhsiraK'

In [197]:
# Split the string
a="hello Karishma Lawrence gonamanda"
a.split()

['hello', 'Karishma', 'Lawrence', 'gonamanda']

In [199]:
# Print the string without spaces
a="Hello Karishma Lawrence Gonamanda"
a.replace(" ","")

'HelloKarishmaLawrenceGonamanda'

In [198]:
# Find how many times "a" is repeated in a given string
a="hello Karishma Lawrence gonamanda"
a.count("a")

6